.app {
  text-align: center;
}

.app_form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: lightgrey;
  width: 100%;
  margin: 20px;
}

.app_formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app_iconButton {
  flex: 0;
}

.backComponent {
  background: url(https://blog.jahnelgroup.com/images/presence.jpg) no-repeat
    center center fixed;
  background-size: cover;
}
